* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}
.container {
    width: 1170px;
    background-color: burlywood;
    margin: auto;
    height: 100vh;
    text-align: center;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    
    
}

.form_part {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    margin-left: 5px;
}
.answer_part {
    height: 50vh;
}


.answer {
    margin-top: 100px;
    font-size: 2rem;
    text-align: center;
    color: rgb(5, 46, 47);
    background-color: brown;
    padding: 5px;
    border-radius: 10px;
}

.d_none {
    display: none;
}